@import '../../breakpoint.vars.scss';

:host {
  display: block;
  padding: 24px;
}
.header {
  display: flex;
  justify-content: center;
  margin-bottom: 36px;
}

.players-panel {
  display:flex;
  justify-content: center;
  gap: 32px;
}

.battleground {
  display: flex;
  justify-content: center;
  gap: 24px;

  &__control-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .is-winner {
    filter: drop-shadow(5px 5px 13px #ffeb3b);
  }

  @media all and (max-width:$layout-breakpoint-md) {
    flex-direction: column;
    align-items: center;
  }
}